div.post
    h2
        a(href=post.url)
            = post.title
    span.date Posted on #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    div.content
        != post.content
    
    if showComments
        include comments
    else
        div.commentLink
            a(href=post.url + "#comments")
                show comments of which there are 2
    div.tags
        - each tag in post.tags
            a(href=tagUrl(tag))
                span.label.label-info ##{tag}
